/.idea
/FlashCards.sln.DotSettings.user

/FlashCards.Api.App/bin
/FlashCards.Api.App/obj
/FlashCards.Api.App/appsettings.Development.json
/FlashCards.Api.App/appsettings.json
/FlashCards.Api.App/Properties/launchSettings.json

/FlashCards.Api.Bl/bin
/FlashCards.Api.Bl/obj

/FlashCards.Api.Dal/bin
/FlashCards.Api.Dal/obj
/FlashCards.Api.Dal/Migrations

/FlashCards.Common/bin
/FlashCards.Common/obj

/FlashCards.Identity.App/bin
/FlashCards.Identity.App/obj
/FlashCards.Identity.App/appsettings.json
/FlashCards.Identity.App/Data/Migrations
/FlashCards.Identity.App/keys
/FlashCards.Identity.App/Migrations

/FlashCards.WebBlazor.App/bin
/FlashCards.WebBlazor.App/obj
/FlashCards.WebBlazor.App/wwwroot/appsettings.json
/FlashCards.WebBlazor.App/wwwroot/appsettings.Development.json

/FlashCards.WebBlazor.Bl/bin
/FlashCards.WebBlazor.Bl/obj
/FlashCards.WebBlazor.Bl/ApiClients/GeneratedApiClient.cs